# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
build/
dist/

# Virtual Environment
venv/
.env

# IDE
.idea/
.vscode/

# Project Files
uploads/*
outputs/*
!uploads/.gitkeep
!outputs/.gitkeep
poppler/

# OS
.DS_Store
Thumbs.db

# Logs
*.log